:root {
    --font-family: 'Kumbh Sans', sans-serif;
    --font-size: 12px;
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--soft-violet);
}

.bg-desktop {
    background-color: #fff;
}

.container {
    margin: 10rem;
}

.inner-container {
    display: flex;
    background-color: #fff;
}

.faq {
    padding-bottom: 3rem;
}

.faq-item {
    padding-bottom: 3rem;
}